@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #e5e5e5;
}
.image-gallery-index {
  background-color: transparent;
  top: -50px;
  left: calc((100% - 90px) / 2);
  right: auto;
  font-weight: 500;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 200px);
}
.image-gallery-left-nav {
  left: 60px;
}
.image-gallery-right-nav {
  right: 60px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px;
}

@media only screen and (max-width: 1024px) {
  .image-gallery-left-nav {
    left: 20px;
  }
  .image-gallery-right-nav {
    right: 20px;
  }

  .image-gallery-slide {
    padding-inline: 10px;
  }
  .image-gallery-index {
    left: 44%;
  }
}
